.DocSearch.DocSearch-Button {
	@apply bg-white border border-solid border-grey-200 flex gap-4 m-0 py-0 px-2 desktop:pr-3 !important;

	.DocSearch-Button-Placeholder {
		@apply text-14 font-normal p-0 m-0 gap-2 !important;

		&:is(span) {
			@apply !leading-none;
		}
	}

	.DocSearch-Button-Container {
		@apply gap-2 !important;
	}

	.DocSearch-Button-Keys {
		@apply hidden m-0 p-0 desktop:flex gap-1 min-w-fit !important;
	}

	.DocSearch-Button-Key {
		@apply shadow-none bg-grey-100 font-mono text-grey-500 rounded w-5 h-5 m-0 p-0 text-14 top-0 border-none !important;

		background-image: none !important;

		&:is(kbd) {
			@apply !leading-none;
		}
	}
}

.DocSearch-Modal {
	@apply bg-white shadow-2xl desktop:rounded-xl !important;

	.DocSearch-Form {
		@apply border border-solid border-grey-200 hover:border-grey-400 focus-visible:border-infinum rounded-lg !important;
	}

	.DocSearch-Footer {
		@apply shadow-none border-none bg-grey-100 border-t-grey-200 !important;
	}

	.DocSearch-Logo {
		.DocSearch-Label {
			@apply text-14 text-grey-400 hover:text-grey-500 !important;
		}

		svg {
			@apply text-grey-400 hover:text-grey-500 !important;
		}

		.cls-1,
		.cls-2 {
			@apply fill-current !important;
		}
	}

	.DocSearch-Commands {
		@apply gap-3 !important;

		.DocSearch-Commands-Key {
			@apply shadow-none bg-grey-400 font-mono text-white rounded w-5 h-5 m-0 p-0 text-14 top-0 border-none !important;

			background-image: none !important;

			svg {
				@apply text-white !important;
			}

			&:is(kbd) {
				@apply !leading-none;
			}
		}

		.DocSearch-Label {
			@apply text-grey-500 text-12 !important;
		}

		li {
			@apply m-0 p-0 flex gap-1 !important;
		}
	}

	.DocSearch-Hits {
		@apply mt-4 !important;

		.DocSearch-Hit-source {
			@apply bg-white border-none font-sans text-12 uppercase font-medium text-black m-0 px-0 py-2 !important;

			+ ul {
				@apply flex flex-col gap-2 p-0 pt-1 !important;
			}
		}

		.DocSearch-Hit {
			@apply bg-white border border-solid border-grey-200 m-0 p-0 rounded-lg hover:border-infinum transition-colors !important;

			> a {
				@apply shadow-none bg-none border-none rounded-lg outline-infinum/75 !important;
			}

			.DocSearch-Hit-icon {
				@apply text-grey-500 !important;
			}

			.DocSearch-Hit-title {
				@apply text-black text-14 font-normal m-0 p-0 !important;
			}

			.DocSearch-Hit-path {
				@apply text-grey-400 text-12 font-normal m-0 -mt-1 p-0 !important;
			}

			.DocSearch-Hit-action {
				@apply text-grey-400 hover:text-infinum !important;
			}

			.DocSearch-Hit-Tree {
				@apply text-grey-400 !important;
			}

			&[aria-selected=true] {
				mark {
					@apply text-infinum no-underline !important;

					filter: drop-shadow(0 0 0.125rem rgb(216 38 44 / 0.25)) !important;
				}

				.DocSearch-Hit-Tree {
					@apply text-grey-500 !important;
				}
			}
		}
	}

	.DocSearch-Hit-action-button {
		&:hover {
			background: none !important;
		}
	}

	.DocSearch-HitsFooter {
		@apply m-0 p-4 !important;

		a {
			@apply transition font-medium cursor-pointer px-3 py-1.5 rounded-lg border border-solid border-grey-400 text-grey-500 bg-white hover:bg-grey-400 hover:text-white focus-visible:border-infinum focus-visible:text-white focus-visible:bg-infinum focus-visible:outline-infinum/75 !important;
		}
	}
}
